In [3]:
import pandas as pd
import numpy as np

# Dataset para el análisis del cambio climático
np.random.seed(42)

# Definimos rangos de años y emisiones por sector
years = list(range(1990, 2025))
sectors = ["Transporte", "Industria", "Energía", "Agricultura", "Residencial"]

# Emisiones totales por año (en millones de toneladas de CO2 equivalente)
total_emissions = np.random.uniform(2500, 5000, len(years)).round(2)

# Dividimos las emisiones por sector (proporcionalmente)
emissions_by_sector = {
    sector: (total_emissions * np.random.uniform(0.1, 0.4)).round(2) for sector in sectors
}

# Temperatura promedio global por año (en °C por encima de la media preindustrial)
temperature_anomalies = np.linspace(0.2, 1.5, len(years)) + np.random.normal(0, 0.1, len(years))

# Número de eventos climáticos extremos por año
extreme_events = np.random.poisson(lam=30, size=len(years)) + np.arange(len(years)) // 5

# Combinamos todo en un DataFrame
data = {
    "Año": years,
    "Emisiones Totales (MtCO2e)": total_emissions,
    "Temperatura Anomalía (°C)": temperature_anomalies.round(2),
    "Eventos Climáticos Extremos": extreme_events,
}
data.update(emissions_by_sector)

climate_df = pd.DataFrame(data)

climate_df

,Año,Emisiones Totales (MtCO2e),Temperatura Anomalía (°C),Eventos Climáticos Extremos,Transporte,Industria,Energía,Agricultura,Residencial
0,1990,3436.35,0.20,22,1177.02,657.66,444.33,1049.01,797.39
1,1991,4876.79,0.13,34,1670.39,933.34,630.58,1488.74,1131.64
2,1992,4329.98,0.36,35,1483.10,828.69,559.87,1321.81,1004.75
3,1993,3996.65,0.19,30,1368.93,764.90,516.77,1220.06,927.41
4,1994,2890.05,0.37,27,989.90,553.11,373.69,882.25,670.62
5,1995,2889.99,0.20,40,989.88,553.10,373.68,882.23,670.61
6,1996,2645.21,0.30,29,906.04,506.25,342.03,807.50,613.81
7,1997,4665.44,0.49,26,1598.00,892.89,603.25,1424.22,1082.60
8,1998,4002.79,0.58,27,1371.03,766.07,517.57,1221.93,928.83
9,1999,4270.18,0.56,41,1462.62,817.24,552.14,1303.56,990.88
10,2000,2551.46,0.57,34,873.92,488.31,329.91,778.88,592.06
11,2001,4924.77,0.59,37,1686.83,942.52,636.78,1503.38,1142.77
12,2002,4581.11,0.51,40,1569.12,876.75,592.35,1398.48,1063.03
13,2003,3030.85,0.63,29,1038.12,580.06,391.89,925.23,703.30
14,2004,2954.56,0.69,27,1011.99,565.46,382.03,901.94,685.59
15,2005,2958.51,0.88,32,1013.35,566.21,382.54,903.14,686.51
16,2006,3260.61,0.85,25,1116.82,624.03,421.60,995.37,756.61
17,2007,3811.89,0.67,44,1305.65,729.54,492.88,1163.66,884.53
18,2008,3579.86,0.92,33,1226.17,685.13,462.88,1092.82,830.69
19,2009,3228.07,0.89,31,1105.68,617.80,417.39,985.43,749.06
20,2010,4029.63,0.90,48,1380.23,771.21,521.04,1230.12,935.06
21,2011,2848.73,1.06,34,975.74,545.20,368.35,869.63,661.04
22,2012,3230.36,1.14,30,1106.46,618.24,417.69,986.13,749.59
23,2013,3415.90,1.17,36,1170.01,653.75,441.68,1042.77,792.65
24,2014,3640.17,1.03,22,1246.83,696.67,470.68,1111.23,844.69
25,2015,4462.94,1.12,44,1528.64,854.14,577.07,1362.40,1035.61
26,2016,2999.18,1.23,28,1027.28,574.00,387.80,915.56,695.95
27,2017,3785.59,1.33,38,1296.64,724.50,489.48,1155.63,878.43
28,2018,3981.04,1.22,30,1363.58,761.91,514.75,1215.29,923.78
29,2019,2616.13,1.29,33,896.07,500.69,338.27,798.63,607.06
30,2020,4018.86,1.24,38,1376.54,769.15,519.65,1226.84,932.56
31,2021,2926.31,1.27,33,1002.32,560.05,378.38,893.31,679.04
32,2022,2662.63,1.50,39,912.00,509.59,344.28,812.82,617.85
33,2023,4872.21,1.60,36,1668.83,932.46,629.98,1487.34,1130.58
34,2024,4914.08,1.49,38,1683.17,940.48,635.40,1500.12,1140.29